.container-image {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.image-card {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

img {
    width: 35vh;
    height: 35vh;
}

.image {
    width: 100%;
}

.tags {
    text-align: center;
    padding: 20px 0px;
    background-color: #ff9900;
}

.tag {
    outline: none;
    border: none;
    color: #eee;
    margin: 0px 10px;
    background-color: transparent;
    cursor: pointer;
}

.active {
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
