body, html, header, h1{
    margin: 0px;
    padding: 0px;
}

.background{
    background: url("../../assets/img1.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.center-box-name{
    width: 30vh;
    height: 10vh;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgba(108, 122, 137, .8) 
}